<h2>Record a Hero/Villain battle</h2>

<form [formGroup]="form">
    <div class="form-control">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name" />
    </div>

    <div class="form-control">
        <label for="hero">Hero: </label>
        <input id="hero" type="text" formControlName="hero" />
    </div>

    <div class="form-control">
        <label for="villain">Villain: </label>
        <input id="villain" type="text" formControlName="villain" />
    </div>

    <div class="form-control">
        <label for="location">Location: </label>
        <select id="location" formControlName="location">
            <option *ngFor="let location of locations" [ngValue]="location">
                {{ location }}
            </option>
        </select>
    </div>

    <button type="button" (click)="reset()">Reset</button>
    <button type="button" (click)="submit()" [disabled]="!valid">Submit</button>
</form>

<pre>
    {{ formInfo | json }}
</pre>
